@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-outside: #010C15;
  --bg-primary: rgba(1, 22, 39, 1);
  --line: #1E2D3D;
  --header-primary: white;
  --text-primary: #607B96;
}

@layer base {
  body {
    @apply bg-bg-outside text-text-primary text-sm
  }
}